@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

/*reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

ul,
li {
  list-style: none;
}

/*reset END*/

body {
  display: flex;
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  background-color: var(--Light-Grayish-Blue);
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
  width: 53.846em;
  background-color: white;
  border-radius: 1.385em;
  overflow: hidden;
}

.previewImg {
  position: relative;
  width: 23.077em;
  overflow: hidden;
}

.previewImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article {
  display: flex;
  flex-direction: column;
  width: 38.462em;
  padding: 3.077em;
  padding-bottom: 2.077em;
}

.title {
  display: flex;
  margin-bottom: 1.231em;
}

.title h1 {
  color: var(--Very-Dark-Grayish-Blue);
  font-size: 20px;
  font-weight: 700;
}

.bodyText {
  margin-bottom: 1.538em;
}

.bodyText p {
  color: var(--Desaturated-Dark-Blue);
  line-height: 20px;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userContainer {
  display: flex;
  align-items: center;
}

.userPic {
  width: 3.846em;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.538em;
}

.name {
  font-size: 13px;
  font-weight: 700;
  color: var(--Very-Dark-Grayish-Blue);
}

.info {
  color: var(--Grayish-Blue);
}

.share {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.462em;
  height: 2.462em;
  padding: 0.615em;
  border-radius: 50%;
  background-color: var(--Light-Grayish-Blue);
  overflow: hidden;
  border: none;
  cursor: pointer;
}

.share img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 0.769em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 700px) {
  main {
    flex-direction: column;
    width: 23.077em;
  }

  .article {
    width: 23.077em;
    padding: 2.077em;
  }
}

.snsShare {
  display: flex;
  visibility: hidden;
  position: absolute;
  top: 450px;
  left: 1050px;
  background-color: var(--Very-Dark-Grayish-Blue);
  /* width: 300px; */
  padding: 12px 32px;
  /* gap: 20px; */
  border-radius: 8px;
  align-items: center;
  transition: ease-in-out;
}

.active {
  visibility: visible;
}

.snsShare span {
  color: var(--Grayish-Blue);
  letter-spacing: 5px;
  margin-right: 10px;
}

.snsShare ul {
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
}

.snsShare li {
  /* margin-left: 20px; */
}

.snsShare img {
  padding: 10px;
}
